<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"
  integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
  integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<div class="container" id="main-container">
  <div class="row align-items-center">
    <div class="col-md-6">
      <div class="mb-3">
        <h5 class="card-title text-right">Pets</h5>
      </div>
    </div>
    <div class="col-md-6">
      <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
        <div>
          <a href="#" data-bs-toggle="modal" data-bs-target=".add-new" class="btn btn-primary"
            (click)="onOpenModal(defaultPet, 'add')"><i class="bx bx-plus me-1"></i>Add pet</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="">
        <div class="table-responsive">
          <table class="table project-list-table table-nowrap align-middle table-borderless">
            <thead>
              <tr>
                <th scope="col" class="ps-4" style="width: 50px;">
                </th>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Code</th>
                <th scope="col">Type</th>
                <th scope="col">Fur color</th>
                <th scope="col">Country</th>
                <th scope="col"></th>
              </tr>
            </thead>

            <ng-container *ngFor="let pet of pets">
              <tbody>

                <tr>
                  <th scope="row" class="ps-4">
                  </th>
                  <td>{{pet?.id}}</td>
                  <td>{{pet?.name}}</td>
                  <td>{{pet?.code}}</td>
                  <td>{{pet?.type}}</td>
                  <td>{{pet?.color}}</td>
                  <td>{{pet?.origin}}</td>
                  <td>
                    <ul class="list-inline mb-0">
                      <li class="list-inline-item">
                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"
                          class="px-2 text-primary" (click)="onOpenModal(pet, 'edit')"><i
                            class="bx bx-pencil font-size-18"></i></a>
                      </li>
                      <li class="list-inline-item">
                        <a href="javascript:void(0);" id="delete" data-bs-toggle="tooltip" data-bs-placement="top"
                          title="Delete" class="px-2 text-danger" (click)="onOpenModal(pet, 'delete')"><i
                            class="bx bx-trash-alt font-size-18"></i></a>
                      </li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </ng-container>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Pet Modal -->
<div class="modal fade" id="addPetModal" tabindex="-1" role="dialog" aria-labelledby="addPetModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addPetModalLabel">Add Pet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddPet(addForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel name="name" class="form-control" id="name" placeholder="Name" required>
          </div>
          <div class="form-group">
            <label for="code">Identification code</label>
            <input type="text" ngModel name="code" class="form-control" id="code" placeholder="Identification code"
              required>
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            <input type="text" ngModel name="type" class="form-control" id="type" placeholder="Type" required>
          </div>
          <div class="form-group">
            <label for="color">Fur color</label>
            <input type="text" ngModel name="color" class="form-control" id="color" placeholder="Fur color" required>
          </div>
          <div class="form-group">
            <label for="origin">Country of origin</label>
            <input type="text" ngModel name="origin" class="form-control" id="origin" placeholder="Country of origin"
              required>
          </div>
          <div class="modal-footer">
            <button type="button" id="add-pet-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="updatePetModal" tabindex="-1" role="dialog" aria-labelledby="petEditModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updatePetModalLabel">Edit Pet {{editPet?.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngModel="{{editPet?.name}}" name="name" class="form-control" id="name"
              aria-describedby="emailHelp" placeholder="Name">
          </div>
          <input type="hidden" ngModel="{{editPet?.id}}" name="id" class="form-control" id="id" placeholder="Email">
          <div class="form-group">
            <label for="code">Identification code</label>
            <input type="text" ngModel="{{editPet?.code}}" name="code" class="form-control" id="code"
              placeholder="Identification code">
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            <input type="text" ngModel="{{editPet?.type}}" name="type" class="form-control" id="type"
              placeholder="Type">
          </div>
          <div class="form-group">
            <label for="color">Fur color</label>
            <input type="text" ngModel="{{editPet?.color}}" name="color" class="form-control" id="color" name="color"
              placeholder="Color">
          </div>
          <div class="form-group">
            <label for="origin">Country of origin</label>
            <input type="origin" ngModel="{{editPet?.origin}}" name="origin" class="form-control" id="origin"
              placeholder="Country of origin">
          </div>
          <div class="modal-footer">
            <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
            <button (click)="onUpdatePet(editForm.value)" data-dismiss="modal" class="btn btn-primary">Save
              changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deletePetModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Delete Pet</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete Pet {{deletePet?.name}}</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onDeletePet(deletePet)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification for no pets -->
<div *ngIf="pets?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO PETS!</h4>
    <p>No pets were found.</p>
  </div>
</div>